html {
    font-size: 12px;
}

header {
    position: relative;
    width: 100%;
    font-family: "Inknut Antiqua", serif;
}

body {
    font-family: "Inknut Antiqua", serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.custom-fluid {  /*custom fluid container na responzivnost a dodrziavanie margins stranky*/
    width: 90%;
    margin: 0 auto;
  }

/* ------------------------------- NAVIGATION ------------------------------------- */

.top-bar {
    background-color: #79A65D;
    color: #0d3113;
}

@media (min-width: 490px) {  /*fix na search bar aby ostal v strede az do wrapu*/
    .custom-search-container {
        justify-content: center !important;
    }
}

@media (max-width: 433px) {  /*fix na centrovanie nav baru pri troch riadkoch*/
    .custom-logo, .custom-ikonky, .custom-search-container {
    display: flex !important; 
    width: 100%;
    justify-content: center !important; 
  }
}

input::placeholder {  /* animacia na zmiznutie placeholder textu v searchi*/
    transition: opacity 0.2s ease;
}

input:focus::placeholder {
    opacity: 0;
}

.my-button {  /*custom trieda na ikonky alebo buttons*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none !important;
}

.material-icons {  /*pre material ikonky stiahnute*/
    font-size: 25px !important;
    color: #0d3113;  
    border: none !important;
}

.dropdown li {  /*aby dropdown menu items zabrali cely dropdown bez paddingu na pekny highlight pri hover a active*/
    line-height: 2;
    --bs-dropdown-link-active-bg: #0d3113;
    --bs-dropdown-link-hover-bg: #9d9d9d;
}

.dropdown li:last-child {
    margin-bottom: 0;
}

.dropdown-menu-custom {  /* custom trieda na dropdown menucka*/
    --bs-dropdown-padding-y: 0 !important;
    position: absolute;
    left: 50% !important;
    transform: translateX(-50%) !important;
    right: auto !important;
    top: 105% !important;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

/* ------------------------------- CATEGORIES ------------------------------------- */

.category-btn.btn { /*fix na skackanie paddingu a border - bs override*/
    --bs-btn-padding-y: 0 !important;
    --bs-btn-padding-x: 0 !important;
    border: none !important;
}

.categories-bar {  /*bar s kategoriami, prisposobeny na animaciu*/
    position: relative;
    max-height: 600px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem ;
    background-color: #694F3F;
    color: #0d3113;
}

.categories-list {  /*rovnomerne rozmiestnenie kategorii s wrapom*/
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
}
  
.category-item {  /*fixna sirka kategorii a ziadny shrink*/
    width: 6rem;
    height: 6rem;
    flex: 0 0 auto;
}

.category-btn {  /*tlacidlo kategorie s prisposobenym fontom a animaciou*/
    width: 100%;
    height: 100%;
    font-size: 75%;
    border: #9C8170 solid;
    background-color: #9C8170;
    white-space: normal;
    text-align: center;
    --bs-btn-color: unset !important;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.category-btn:hover, .category-btn:active {
    background-color: #EDFAE6;
    color: #0d3113;
    border-color: #EDFAE6;
}

.mensi-font {  /*mensi font v kategoriach s dlhymi nazvami, funguje ako multiplier*/
    font-size: 80%;
}

.toggle-btn {  /*tlačidlo na zbalenie/rozbalenie panelu s kategóriami*/
    position: absolute;
    bottom: -30px;
    right: 5.5%;
    background: none;
    border: 1px solid #ccc;
    border-radius: 4px;  
    cursor: pointer;
    padding: 0.25rem;
}

.categories-bar.collapsed {  /*ako bude vyzerat ked bude zbaleny*/
    max-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
  
.toggle-btn.rotated-arrow img {  /*animacia otacania sipky pri zabaleni/rozbaleni*/
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}
  
/* ------------------------------- BODY ------------------------------------- */

/* Zadanie polohy */
.hero-section {
    background-color: #eaeaea;
}

.hero-subtitle {
    font-size: 1.4rem;      /* Mierne väčší text než bežný odstavec */
    margin-bottom: 1rem;   /* Odsadenie podnadpisu */
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.hero-search .form-control {
    padding: 0.6rem 0.8rem;
    border: 2px solid #333;
    max-width: 65%;
}

.hero-search .btn {
    white-space: nowrap; /* Zabránime zalomeniu textu */
    padding: 0.6rem 1rem;
    background-color: #333;
    border: none;
}
.hero-search .btn:hover {
    background-color: #555;
}

.arrows {
    display: flex;
    gap: 0.6rem;
}

.arrow-left, .arrow-right {
    background: #ddd;
    border: none;
    padding: 0.5rem;
    padding-inline: 1rem;
    transition: background-color 0.2s ease;
}
.arrow-left:hover, .arrow-right:hover {
    background: #bbb;
}

/* ---- PRODUCT GRID & CARDS ---- */

.card.product-card {
    border: 1px solid #ddd;
    background-color: #ccc;
    padding-inline: 20px;
}

.card.product-card .card-img {
    width: 50%;
    height: auto;
    margin-top: 0.5rem;
}

.card.product-card .card-body {
    text-align: left;
    padding: 0;
}

.card-title {
    font-size: 1.4rem;
    margin-top: 1rem;
}

/* Cena - prvý span (ľavá strana), druhý span (pravá strana) */
.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

/* cena */
.price-container .price {
    font-weight: bold;
    color: #504070;
    font-size: 1.5rem;
}
/* cena za kus */
.price-container .price-per {
    font-size: 1rem;
    color: #666;
}

.card-location {
    font-size: 1.2rem;
    color: #222;
    margin-top: 1rem;
}

.small-icon {
    width: 16px;
    height: 16px;
}

.medium-icon {
    width: 24px;
    height: 24px;
}

.big-icon {
    width: 30px;
    height: 30px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~------------- TU SOM SKONČILA!!! ------------~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/*toto treba pozmenit - Product detail*/

/* ---- PRODUCT DETAIL ---- */
.product-detail {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.product-gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
}

.main-image img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover; /* zabezpečí správne orezanie obrázka */
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.thumbnail-list {
    display: flex;
    gap: 0.5rem;
}

.thumbnail-list img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}





/* ========== NEW ==========  ========== NEW ==========  ========== NEW ==========  ========== NEW ==========  ========== NEW ========== */

html {
    font-size: 12px;
}

header {
    position: relative;
    width: 100%;
    font-family: "Inknut Antiqua", serif;
}

body {
    font-family: "Inknut Antiqua", serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.custom-fluid {  /*custom fluid container na responzivnost a dodrziavanie margins stranky*/
    width: 90%;
    margin: 0 auto;
}


.half-image-container {
    position: relative;
}

.img-half-cover {
    width: 100%;
    display: block;
}

.discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    aspect-ratio: 1 / 1;
    background: url('images/akcia.png') no-repeat center center;
    background-size: contain;
    transform: rotate(-8deg);
}

.discount-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #444;
    font-weight: bold;
}

/*prerobit pafination, nefunguju farby*/

.pagination {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.pagination a {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    color: #333;
    transition: background-color 0.2s ease;
}

.pagination a:hover {
    background-color: #42803e;
}

.pagination .active {
    background-color: #8cdb87;
    color: #fff;
    border-color: #42803e;
}